name: Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Tag name
        run: echo "TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - run: npm ci
      - run: npm run build
      - run: npm run test

      - name: NPM Publish
        uses: JS-DevTools/npm-publish@v1
        with:
          tag: ${{ env.TAG }}
          token: ${{ secrets.NPM_TOKEN }}

      - name: Github Release
        uses: ncipollo/release-action@v1
        prerelease: "contains(env.TAG, '-')"
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
